@import "tailwindcss";

@theme {
  --color-primary: oklch(0.4923 0.2516 284.14);
  --color-pale-primary: oklch(0.574 0.244 288);
  --color-text-color: oklch(0.235 0 0);
  --color-orange-box: oklch(0.7945 0.1202 34.81);
  --color-green-box: oklch(0.8735 0.1137 174.25);
  --color-pale-green-box: oklch(0.975 0.0219 179.21);
  --color-pale-orange-box: oklch(0.9637 0.0182 34.3);
  --color-pale-purple-box: oklch(0.9498 0.0272 297.32);
  --color-pale-yellow-box: oklch(0.9869 0.0214 95.28);
  --breakpoint-fullscreen: 1400px;
}

@font-face {
  font-family: Grotesk-Black;
  src: url(../assets/fonts/CabinetGrotesk-Black.woff2);
}

@font-face {
  font-family: Grotesk-Bold;
  src: url(../assets/fonts/CabinetGrotesk-Bold.woff2);
}

@font-face {
  font-family: Grotesk-Medium;
  src: url(../assets/fonts/CabinetGrotesk-Medium.woff2);
}

@font-face {
  font-family: Grotesk-Light;
  src: url(../assets/fonts/CabinetGrotesk-Light.woff2);
}

@font-face {
  font-family: Grotesk-Thin;
  src: url(../assets/fonts/CabinetGrotesk-Thin.woff2);
}

@font-face {
  font-family: CabinetGrotesk-Variable;
  src: url(../assets/fonts/CabinetGrotesk-Variable.woff2);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.custom-next,
.custom-prev {
  display: flex !important;
}
.custom-prev-opinion-slider,
.custom-next-opinion-slider {
  display: flex !important;
}
